.header__container {
    position: fixed;
    top: 0;

    background-color: #ffffff;

    width: 100%;
    min-height: var(--header-height);

    box-shadow: var(--box-shadow);

    z-index: 10;
}

.header__content {
    margin: 0 auto;
    padding: 6px 24px;

    width: 1200px;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user {
    gap: 12px;
}
.header-logo {
    background-image: url("../../img/logo_brand.jpg");

    width: 100px;
    height: 80px;
}

.user-info {
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}
.user-info i {
    font-size: var(--font-size-xs);
    font-style: italic;

    color: var(--light-text-color);
}
.user-info p {
    font-size: var(--font-size-sm);

    color: var(--text-color);
}
.user-avatar {
    background-image: url("../../img/avatar.jpg");

    width: 50px;
    height: 50px;

    border-radius: 50%;
}
