.main__container {
    max-width: 900px;
    width: 100%;
    min-height: 200px;

    margin: 30px auto 50px;
    padding: 12px 24px;
}

.joke__content {
    position: relative;
    text-align: justify;

    margin-bottom: 75px;
}

.joke__content p {
    font-size: var(--font-size-sm);
    line-height: 24px;

    color: var(--text-color);
}

.joke__content::after {
    position: absolute;
    left: 50%;
    content: "";

    width: 60%;
    height: 1px;

    margin-top: 40px;

    background-color: var(--light-text-color);

    transform: translateX(-50%);
}

.buttons__content {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .button {
        max-width: 200px;
    }
}
